.container {
    padding: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: rgb(71, 69, 97);
    flex-direction: column;
}

.container input {
    border: none;
    width: 30%;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container input:focus {
    border: none;
}

