.button-submit {
    padding: 16px;
    border: none;
    background-color: blueviolet;
    color: white;
    width: 20%;
    border-radius: 8px;
    margin-bottom: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: calc(2% + 48px);
}

.button-submit p {
    font-weight: 500;
}