.card-container {
    background-color: rgb(115, 32, 194);
    width: 30%;
    padding: 16px;
    color: white;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 2%;
    background-repeat: repeat;
}

.card-container strong {
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.card-container small:nth-child(3) {
    float: right;
}